* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    background-color: black;
    #drum-machine {
        background-color: #8d7e7e;
        height: 300px;
        width: 500px;
        border: 1px solid white;
        margin: 0 auto;
    }
}