/* SCSS HEX */
$charcoal: #264653ff;
$persian-green: #2a9d8fff;
$saffron: #e9c46aff;
$sandy-brown: #f4a261ff;
$burnt-sienna: #e76f51ff;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: $charcoal;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;

    #drum-machine {
        width: 450px;
        height: 500px;
        border: 10px solid $saffron;
        border-radius: 20px;
        background-color: $charcoal;
        display: flex;
        flex-direction: column-reverse;

        .padbank {
            display: flex;
            justify-content: space-around;
            align-items: center;
            flex-direction: column;
            width: 100%;
            height: 400px;

            .frame {
                width: 100%;
                height: 34%;
                border-top: 10px solid $saffron;
                display: flex;
                justify-content: space-around;

                .drum-pad {
                    background-color: $sandy-brown;
                    border: 6px solid $burnt-sienna;
                    border-radius: 5px;
                    width: 80px;
                    height: 80px;
                    margin: 10px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    color: black;
                    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                    font-size: 1.5rem;
                    font-weight: 700;
                    cursor: pointer;
                    transition: background-color 0.1s ease;
                    transition: scale 0.1s ease;
                    p {
                        font-size: 0.7rem;
                    }
                }

                .drum-pad:hover {
                    background-color: #6a6a6a;
                    scale: 1.1;
                }
            }

        }

        .controlscontainer {
            display: flex;
            justify-content: flex-end;
            width: 100%;
            height: 150px;

            #display {
                background-color: $persian-green;
                width: 200px;
                height: 50px;
                border-bottom-left-radius: 10px;
                border: 5px solid $saffron;
                font-size: 1.5rem;
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                font-weight: 800;
                text-align: center;
            }
        }
    }
}